 * {
     margin: 0;
     padding: 0;
 }
 
 /*---------MAP-----------*/ 
#mapId{
    width: 30%;
    height: 100%;
    float: left;
} 

div.tooltip {
      position: fixed;
      background-color: white;
      border: 1px solid black;
      color: black;
      font-weight: bold;
      padding: 4px 8px;
      display: none;
}
  
path {
    stroke-width: 0.25px;
    stroke: #ffffff;
    fill: #000000;
    cursor: pointer;
}


#recLegendMap {
    fill: #ffffff;
    opacity: 0.4;
}

/*----------END MAP------------*/
/*
#pcaId{
    width: 46%;
    height: 50%;
    float: left;
    position: relative;
}
#controlId{
    width: 21%;
    height: 50%;
    float: left;
    position: relative;
   
}
#paralId{
    width: 67%;
    height: 50%;
    float: left;
    position: relative;
}
*/
/*--------- PCA SCATTER PLOT -----------*/
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    width: 100%;
  }

.axis line,
.axis path {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.axis text {
fill: black;
text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
cursor: move;
}
  
label {
    position: absolute;
    top: 10px;
    right: 10px;
}

/*-----------GENERIC PROPERTIES-------------*/
.container {
    height: 100vh;
    width: 100%;
    background-color: violet;
}