/** {
     margin: 0;
     padding: 0;
 }
 */

body{
	padding: 0%;
	margin: 0%;
} 
 /*---------MAP-----------*/ 
 #map{
    height: 98%;
    width: 33%;
    position: absolute;
    left:0.1%;
    top:0.5%;
    bottom:1%;
    background: rgb(179, 212, 223);
    border:3px solid black;
    border-right-style: outset;
    border-radius: 5px;
   
} 

div.tooltip {
    color: #222; 
    background: #fff; 
    border-radius: 3px; 
    box-shadow: 0px 0px 2px 0px #a6a6a6; 
    padding: .4em; 
    text-shadow: #f5f5f5 0 1px 0;
    font-size: 12px;
    opacity: 0.8; 
    position: absolute;
}
  
path {
    stroke-width: 0.25px;
    stroke: #b3b2b2;
    fill: #000000;
    cursor: pointer;
}


#recLegendMap {
    fill: #ffffff;
    opacity: 0.5;
}

.circle:hover{
    stroke: black;
    stroke-width: 4px;
}



/*----------END MAP------------*/

#pcaId{
    width: 45.3%;
    height: 48%;
    top:0.5%;
    position: absolute;
    right:20.8%;
    border:3px solid black;
    border-right-style: outset;
    border-radius: 5px;

}

.control-panel {
    width: 20%;
    height: 48%;
    position: absolute;
    right: 0.1%;
    top:0.5%;
    display: inline-block;
    border:3px solid black;
    border-right-style: outset;
    border-radius: 5px;
   
}
#parallelArea{
    width: 66%;
    height: 48%;
    right: 0.1%;
    bottom: 1%;
    position: absolute;
    display: inline-block;
    border:3px solid black;
    border-right-style: outset;
    border-radius: 5px;
}

.green{
	fill:green;
}

/*
svg {
  font: 10px sans-serif;
}*/

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  fill: black;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}


/*--------- PCA SCATTER PLOT -----------*/
/*body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    width: 100%;
  }*/

.axis line,
.axis path {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.axis text {
fill: black;
text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
cursor: move;
}
  
label {
    position: absolute;
    top: 10px;
    right: 10px;
}

/*-----------GENERIC PROPERTIES-------------*/
/*
.container {
    height: 100vh;
    width: 100%;
    background-color: violet;
   
    
}*/